@model List<tp3_web_aspnet_infnet.Models.Pessoa>
@{
}



<table class="table table-bordered">
    <thead class="text-center">
        <tr >
            <td><strong>Id</strong></td>
            <td><strong>Nome</strong></td>
            <td><strong>Sobrenome</strong></td>
            <td><strong>Data Nascimento</strong></td>
            <td><strong>Ação</strong></td>
        </tr>
    </thead>
    <tbody class="text-center">
        @{

            @foreach (var pessoa in Model)
            {
                <tr>
                    <td>
                        @pessoa.Id
                    </td>
                    <td>
                        @pessoa.Nome
                    </td>
                     <td>
                        @pessoa.Sobrenome
                    </td>
                    <td>
                        @pessoa.Aniversario
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-info">
                        
                            @Html.ActionLink("Editar", "Edit", pessoa)
                        </button>
                        <button type="button" class="btn btn-outline-success">

                            @Html.ActionLink("Detalhes", "Details", new { Id = pessoa.Id })
                        </button>
                        <button type="button" class="btn btn-outline-danger">

                            @Html.ActionLink("Deletar", "Delete", new { Id = pessoa.Id })
                        </button>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
<div class="text-center">
    <button type="button" class="btn btn-outline-primary">
    @Html.ActionLink("Novo Cadastro", "Create")
    </button> 
</div>
<br />
<br />
<div class="text-md-center">
    <form method="post" action="/Pessoa/Busca">
        @Html.AntiForgeryToken()     
        <input type="text" class="form-control" placeholder="Busca por nome" name="Nome">
        <br />
        <input type="submit" value="Buscar" class="btn btn-outline-dark" />
    </form>
</div>


   

