@model List<tp3_web_aspnet_infnet.Models.Pessoa>
@{
}

<table class="table table-bordered">
    <thead>
        <tr>
            <td><strong>Id</strong></td>
            <td><strong>Nome</strong></td>
            <td><strong>Sobrenome</strong></td>
            <td><strong>Data Nascimento</strong></td>
            <td><strong>Ação</strong></td>
        </tr>
    </thead>
    <tbody>
        @{

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.Sobrenome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aniversario)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-info">

                            @Html.ActionLink("Editar", "Edit", item)
                        </button>
                        <button type="button" class="btn btn-outline-success">

                            @Html.ActionLink("Detalhes", "Details", new { Id = item.Id })
                        </button>
                        <button type="button" class="btn btn-outline-danger">

                            @Html.ActionLink("Deletar", "Delete", new { Id = item.Id })
                        </button>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
<div class="text-center">
    <button type="button" class="btn btn-outline-primary">
    @Html.ActionLink("Novo Cadastro", "Create")
    </button>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Buscar Pessoa", "Create")
    </button>
</div>
